!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

idporten-bekreft-kontaktinfo-web/target
target/
/docker/idporten-bekreft-kontaktinfo/puppet_hiera/*/
/docker/idporten-bekreft-kontaktinfo/puppet_modules/*/
/docker/idporten-bekreft-kontaktinfo/jar/*.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
src/main/react/build/
src/main/react/node_modules/
src/main/resources/config/application-dev.yml
/logs/**

######################
# Project Specific
######################
/build/www/**
/src/test/javascript/coverage/
package-lock.json
src/main/resources/config/application-dev.yml
/logs/**

######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*
/.cache-loader/*

######################
# SASS
######################
.sass-cache/

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml
.springBeans

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
/log/
/target/

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log*
/auditlogs/
/testlogs/

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# ESLint
######################
.eslintcache

##
# Sub modules untracked files
###

*/node/
*/node_tmp/
*/target
*/node_modules/

*/npm-debug.log.*
*/.awcache/*
*/.cache-loader/*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/main/react/build

/codecept-tests/output/*.png
/codecept-tests/output/*.html
/codecept-tests/output/*.xml
/codecept-tests/output/*.log
/codecept-tests/node_modules
/codecept-tests/node
/docker/codeceptjs-with-tests/tests/*/
/docker/codeceptjs-with-tests/tests/
