!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans


target/
/docker/idporten-bekreft-kontaktinfo/puppet_hiera/*/
/docker/idporten-bekreft-kontaktinfo/puppet_modules/*/
/docker/idporten-bekreft-kontaktinfo/jar/*.jar
/docker/log_config

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
src/main/react/build/
src/main/react/node_modules/
src/main/resources/config/application-dev.yml
/logs/**
/minidonthefly-web/dist/
/docker/minidonthefly-api/puppet_hiera/*/
/docker/minidonthefly-api/puppet_modules/*/
/docker/minidonthefly-api/jar/*.jar
/docker/minidonthefly-backend/puppet_hiera/*/
/docker/minidonthefly-backend/puppet_modules/*/
/docker/minidonthefly-backend/jar/*.jar
/docker/minidonthefly-passport-backend/jar/*.jar
/docker/minidonthefly-passport-backend/puppet_hiera/*/
/docker/minidonthefly-passport-backend/puppet_modules/*/
/docker/minidonthefly-passport-web/jar/*.jar
/docker/minidonthefly-passport-web/puppet_hiera/*/
/docker/minidonthefly-passport-web/puppet_modules/*/
