# ===================================================================
# Standard Spring Boot properties
# ===================================================================
project:
  version: @project.version@

server:
  port: 8080
  tomcat:
    accesslog:
      directory: /var/log/idporten-bekreft-kontaktinfo/
      enabled: true
      rotate: false
      pattern: "%h\u0009%l\u0009%u\u0009%t\u0009\u0022%r\u0022\u0009%s\u0009%b\u0009%D\u0009%{no.difi.correlationId}i"
    remote-ip-header: X-Forwarded-For
    basedir: "/opt/idporten-bekreft-kontaktinfo/tmp"
  servlet:
    session:
      cookie:
        secure: false
        http-only: true
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
  http2:
    enabled: true

# Spring boot actuator endpoint
management:
  metrics:
    tags:
      application: "Idporten-bekreft-kontaktinfo"
  endpoints:
    web:
      base-path: /
      exposure:
        include: "health, info, version, prometheus"
  endpoint:
    health:
      show-details: always
      enabled: true
  info:
    git:
      mode: full
  health:
    mail:
      enabled: false
    diskspace:
      enabled: false
    metrics:
      enabled: false


spring:
  mvc:
    throw-exception-if-no-handler-found: true

  http:
    encoding:
      force: true

  resources:
    cache:
      cachecontrol:
        max-age: 120
        must-revalidate: true

# ===================================================================
# Application specific properties
# ===================================================================
krr:
  url: 'http://eid-atest-admin01.dmz.local:10002/kontaktinfo-backend'
  timeout:
    read: 10000
    connect: 10000
  tip_days_user: 5

oidc-sdk:
  par_lifetime_seconds: 60
  authorization_lifetime_seconds: 60
  internal_id: kontaktinfo
  issuer: 'https://eid-atest-web01.dmz.local/idporten-bekreft-kontaktinfo/api/'
  acr: Level3
  locale: nb
  clients:
    - client_id: openam
      clientSecret: password
      redirect_uris: ['https://eid-atest-web01.dmz.local:443/opensso/UI/kontaktinforesponse']
      scopes: [openid]

cache:
  local:
    ttl-in-s: 5
  cluster:
    ttl-in-s: 300
    transport:
      file:
        location: 'c:/etc/opt/idporten-oidc-provider/' # Windows
        #location: '/etc/idporten-oidc-provider/' # Mac

log:
  # Audit config
  auditlog:
    dir: /var/log/idporten-bekreft-kontaktinfo/audit/
    file: audit.log

  event:
    jmsUrl: tcp://eid-systest-admin01.dmz.local:61616
    jmsQueue: logqueue

jwt:
  iss: idporten-bekreft-kontaktinfo
  aud: idporten
  keystore:
    type: JKS
    location: classpath:./keystore.jks
    password: changeit
    key_alias: digdirtest
    key_password: changeit

featureswitch:
  bekreft_kontaktinfo_enabled: true

security:
  contentsecuritypolicy_url: "https://eid-systest-web01.dmz.local"