.header {
  background-color: $secondary-color;
  color:white;

  &__content {
    display:flex;
    justify-content: space-between;
    width:100%;
    max-width: 900px;
    height:3.125em;
    margin: 0 auto;

  }

  &__link {
    padding:1.2857em 1.0714em;
    color:white;
    font-size: .875em;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color:$primary-color;
    }

    .fa-angle-left {
      margin-right: 1em;
      line-height: .5em;
      font-weight: 600;
    }

  }
}