html {
  display: block!important;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  margin:0;
  height: 100%;
  background-color: #f7f8fa;
}

#root > div:nth-of-type(1) {
  height:100%;
}

#root {
  height: 100%;

  .app {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #f7f8fa;
    color: #222;
    font-family: "Open Sans",sans-serif;
    line-height: 1.5em;
    letter-spacing: .1px;
  }
}

.main {
  flex: 1 0 auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 3em;
  margin-bottom: 3em;

  .box {
    max-width: 500px;
    margin: auto;
    padding: 0;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: white;
  }
}


